.article-section {
    margin-top: 60px;
}

.article-container {
    display: flex;
    justify-content: center;
}

.article-row {
    width: 75%;
}

.article-title {
    text-align: center;
    margin-bottom: 20px;
}

.article-image-container {
    text-align: center;
    margin-bottom: 20px;
}

.article-image {
    max-width: 100%;
    height: auto;
}

.article-content {
    text-align: center;
    font-weight: bold;
    color: black;
    line-height: 1.6;
}
