.login-area .btn {
    background-color: #7d7d7d;
    color: white;
}

.alert-info {
    background-color: #d9edf7;
    color: #31708f;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-info {
    border-color: #bce8f1;
}

.display-flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mr-10 {
    margin-right: 10px;
}

.btn {
    padding: 10px;
}

