@inherits LayoutComponentBase

            <NavMenu />
            @Body
<div class="footer footer1 baseball">
    <div class="container">
        <div class="footer-inner">
            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <img src="assets/images/logonew.png" alt="footer-logo" style="transform: scale(0.8);">
                        </div>
                        <p class="footer-text">
                            It was the end of a period in the 1980s
                            in which it seemed like every NBA Finals
                            matchup featured the Celtics sports club.
                        </p>
                        <div class="social-links">
                            <a href="#0" class="platform">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#0" class="platform">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#0" class="platform">
                                <i class="fab fa-behance"></i>
                            </a>
                            <a href="#0" class="platform">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <h3 class="footer-widget-title"> QUICK LINKS</h3>
                        <ul class="widget-items cata-widget">
                            <li class="widget-list-item"><a href="about.html">ABOUT CLUB</a></li>
                            <li class="widget-list-item"><a href="contact.html">CONTACTS</a></li>
                            <li class="widget-list-item"><a href="price-table.html">PRICE TABLE</a></li>
                            <li class="widget-list-item"><a href="shop.html">SHOP</a></li>
                            <li class="widget-list-item"><a href="our-players.html">OUR PLAYERS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="footer-widget news-widget">
                        <h3 class="footer-widget-title"> POST GALLERY</h3>
                        <div class="recent-post">
                            <div class="picture"><a href="blog-details.html"><img src="assets/images/blog/small-post16.png" alt="side-post-image"></a></div>
                            <div class="content">
                                <span class="news-date">June 21, 2023</span>
                                <a href="blog-details.html" class="recent-post-title">
                                    A batter who's catches
                                    a pitch while batting
                                </a>
                            </div>
                        </div>
                        <div class="recent-post">
                            <div class="picture"><a href="blog-details.html"><img src="assets/images/blog/small-post17.png" alt="side-post-image"></a></div>
                            <div class="content">
                                <span class="news-date">June 21, 2023</span>
                                <a href="blog-details.html" class="recent-post-title">
                                    A batter who's catches
                                    a pitch while batting
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="footer-widget address-widget">
                        <h3 class="footer-widget-title"> GET IN TOUCH</h3>
                        <ul>
                            <li class="widget-list-item">
                                <i class="fas fa-envelope-open"></i><a href="mailto:info@webmail.com">INFO@WEBMAIL.COM</a>
                            </li>
                            <li class="widget-list-item">
                                <i class="fas fa-phone"></i><a href="tel:09877788890">
                                    098
                                    777
                                    888 90
                                </a>
                            </li>
                            <li class="widget-list-item">
                                <i class="fas fa-map-marker-alt"></i> <span>
                                    USA, CALIFORNIA
                                    20,
                                    FIRST <br>
                                    AVENUE, CALIFORNIA
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="bottom-area-inner">
                <span class="copyright">COPYRIGHT & DESIGN BY <span class="brand">KESTER</span> - 2023</span>
                <div class="footer-bottom-links">
                    <a href="#">TERMS & CONDITONS</a>
                    <a href="faq.html">FAQ</a>
                    <a href="#">CAREER</a>
                </div>
            </div>
        </div>
    </div>
</div>