@inherits LayoutComponentBase

@inject CacheManager CacheManager
@inject IJSRuntime JSRuntime


            <NavMenu />
            <div class="mobile-gap"></div>
            @Body
<div class="footer footer1 baseball">
    <div class="container">
        <div class="footer-inner">
            <div class="row display-flex-space-around">
                <div class="col-xl-4 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <img src="assets/images/logo-new.png" alt="footer-logo" style="transform: scale(0.8);">
                        </div>
                        <p class="footer-text">
                            Białołęcka Liga Siatkówki - Największe amatorskie rozgrywki siatkarskie w Polsce.
                        </p>
                        <div class="social-links">
                            <a href="https://www.youtube.com/@@BialoleckaLigaSiatkowki/videos" class="platform">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="footer-widget address-widget">
                        <h3 class="footer-widget-title"> KONTAKT</h3>
                        <ul>
                            <li class="widget-list-item">
                                <i class="fas fa-envelope-open"></i><a href="mailto:ligasiatkowki.bls@gmail.com">LIGASIATKOWKI.BLS@GMAIL.COM</a>
                            </li>
                            <li class="widget-list-item">
                                <i class="fas fa-phone"></i><a href="tel:048691512626">
                                    +48
                                    691
                                    512 626
                                </a>
                            </li>
                            <li class="widget-list-item">
                                <i class="fas fa-map-marker-alt"></i> <span>
                                    WARSZAWA
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="bottom-area-inner">
                <span class="copyright">© COPYRIGHT 2024</span>
            </div>
        </div>
    </div>
</div>

@code {
    private string currentVersion = "1.0.4";

    protected override async Task OnInitializedAsync()
    {
        var storedVersion = await CacheManager.GetVersionAsync();

        await JSRuntime.InvokeVoidAsync("console.log", $"Current version: {currentVersion}");
        await JSRuntime.InvokeVoidAsync("console.log", $"Stored version: {storedVersion}");

        if (storedVersion != currentVersion)
        {
            await JSRuntime.InvokeVoidAsync("console.log", "Versions do not match. Clearing cache...");

            await CacheManager.ClearCacheAsync();
            await CacheManager.SetVersionAsync(currentVersion);

            await JSRuntime.InvokeVoidAsync("console.log", "Cache cleared and version updated.");
        }
    }
}