@using VolleyLeague.Client.Blazor.Services
@using Microsoft.AspNetCore.Components.Authorization
@using VolleyLeague.Client.Blazor.Authentication
@using VolleyLeague.Client.Blazor.Shared.Dtos
@using static VolleyLeague.Client.Blazor.Services.AccountService
@using System.Net.Http.Headers
@using System.Globalization
@using VolleyLeague.Shared.Dtos.Teams
@inject AuthenticationStateProvider authStateProvider
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IUserService userService
@inject ITeamService teamService

<header id="rtsHeader" class="rts-header3 rts-header7">
        <div class="navbar-sticky">
            <div class="inline-wrapper d-flex">
                <div class="navbar-wrapper">
                    <div class="navbar-part navbar-part3 navbar-upper d-flex">
                        <div class="container">
                            <div class="navbar-inner">
                                <a href="index.html" class="logo"><img src="assets/images/logo9.png" alt="sportius-logo"></a>
                                <div class="rts-menu">
                                    <nav class="menus menu-toggle">
                                        <ul class="nav__menu">
                                            <li class="has-dropdown"><a class="menu-item active1" href="#">Home</a>
                                                <ul class="dropdown-ul">
                                                    <li class=""><a class="dropdown-link active" href="index.html">Home One (Soccer)</a></li>
                                                    <li class="dropdown-li"><a class="dropdown-link" href="index-two.html">Home Two (Sports News)</a></li>
                                                    <li class="dropdown-li"><a class="dropdown-link" href="index-three.html">Home Three (Shop)</a></li>
                                                    <li class="dropdown-li"><a class="dropdown-link" href="index-four.html">Home Four (Basketball)</a></li>
                                                    <li class="dropdown-li"><a class="dropdown-link" href="index-five.html">Home Five (Baseball)</a></li>
                                                    <li class="dropdown-li"><a class="dropdown-link" href="index-six.html">Home Six (Cricket)</a></li>
                                                    <li class="dropdown-li"><a class="dropdown-link" href="index-seven.html">Home Seven (NFL)</a></li>
                                                    <li class="dropdown-li"><a class="dropdown-link" href="index-eight.html">Home Eight (Volleyball)</a></li>
                                                </ul>
                                            </li>
                                            <li><a class="menu-item" href="about.html">About</a></li>
                                            <li class="has-dropdown"><a class="menu-item" href="#">Pages</a>
                                                <ul class="dropdown-ul mega-dropdown">
                                                    <li class="mega-dropdown-li">
                                                        <ul class="mega-dropdown-ul">
                                                            <li class="dropdown-li"><a class="dropdown-link"
                                                                    href="team.html">Team Details</a>
                                                            </li>
                                                            <li class="dropdown-li"><a class="dropdown-link"
                                                                    href="team-details.html">Player Details</a>
                                                            </li>
                                                            <li class="dropdown-li"><a class="dropdown-link"
                                                                href="history.html">History</a>
                                                            </li>
                                                            <li class="dropdown-li"><a class="dropdown-link"
                                                                href="awards.html">Awards</a>
                                                            </li>
                                                            <li class="dropdown-li"><a class="dropdown-link"
                                                                    href="faq.html">FAQ</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-dropdown-li">
                                                        <ul class="mega-dropdown-ul">
                                                            <li class="dropdown-li"><a class="dropdown-link"
                                                                href="gallery.html">Gallery</a>
                                                            </li>
                                                            <li class="dropdown-li"><a class="dropdown-link"
                                                                    href="event.html">Event</a>
                                                            </li>
                                                            <li class="dropdown-li"><a class="dropdown-link"
                                                                    href="event-details.html">Event Details</a>
                                                            </li>
                                                            <li class="dropdown-li"><a class="dropdown-link"
                                                                    href="error.html">Error</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-dropdown-li">
                                                        <ul class="mega-dropdown-ul">
                                                            <li class="dropdown-li"><a class="dropdown-link"
                                                                    href="match-schedule.html">Match Schedule</a>
                                                            </li>
                                                            <li class="dropdown-li"><a class="dropdown-link"
                                                                    href="match-result.html">Match
                                                                    Result</a>
                                                            </li>
                                                            <li class="dropdown-li"><a class="dropdown-link"
                                                                    href="league-standings.html">Point Table</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown"><a class="menu-item" href="#">Shop</a>
                                                <ul class="dropdown-ul">
                                                    <li class="dropdown-li"><a class="dropdown-link" href="shop.html">Shop</a>
                                                    </li>
                                                    <li class="dropdown-li"><a class="dropdown-link"
                                                            href="product-details.html">Product Details</a></li>
                                                    <li class="dropdown-li"><a class="dropdown-link" href="cart.html">Cart</a>
                                                    </li>
                                                    <li class="dropdown-li"><a class="dropdown-link"
                                                            href="checkout.html">Checkout</a></li>
                                                    <li class="dropdown-li"><a class="dropdown-link" href="account.html">My
                                                            Account</a></li>
                                                    <li class="dropdown-li"><a class="dropdown-link" href="thank-you.html">Thank
                                                            you</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown"><a class="menu-item" href="#">News</a>
                                                <ul class="dropdown-ul">
                                                    <li class="dropdown-li"><a class="dropdown-link" href="blog.html">News</a>
                                                    </li>
                                                    <li class="dropdown-li"><a class="dropdown-link"
                                                            href="blog-details.html">News
                                                            Details</a></li>
                                                </ul>
                                            </li>
                                            <li><a class="menu-item" href="contact.html">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-action-items header-action-items1">
                                    <div class="search-part">
                                        <div class="search-input-div">
                                            <input type="text" placeholder="Search...." class="search-input">
                                            <i class="rt-search"></i>
                                        </div>
                                    </div>
                                    <div class="cart action-item">
                                        <div class="cart-nav">
                                            <div class="basket-icon cart-icon icon">
                                                <a href="#0">
                                                    <i class="fal fa-shopping-basket"></i>
                                                    <span class="tag">3</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="hamburger-menu aitem">
                                    <div class="hamburger-menu-inner">
                                        <span></span>
                                        <span class=""></span>
                                        <span></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-bar">
            <div class="cart-header">
                <h3 class="cart-heading">MY CART (3 ITEMS)</h3>
                <div class="close-cart"><i class="fal fa-times"></i></div>
            </div>
            <div class="product-area">
                <div class="product-item">
                    <div class="product-detail">
                        <div class="product-thumb"><img src="assets/images/products/product1.png" alt="product-thumb">
                        </div>
                        <div class="item-wrapper">
                            <span class="product-name">Parachute Jacket</span>
                            <div class="item-wrapper">
                                <span class="product-variation"><span class="color">Green /</span>
                                    <span class="size">XL</span></span>
                            </div>
                            <div class="item-wrapper">
                                <span class="product-qnty">3 ×</span>
                                <span class="product-price">$198.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="cart-edit">
                        <div class="quantity-edit">
                            <button class="button"><i class="fal fa-minus minus"></i></button>
                            <input type="text" class="input" value="3" />
                            <button class="button plus">+<i class="fal fa-plus plus"></i></button>
                        </div>
                        <div class="item-wrapper d-flex mr--5 align-items-center">
                            <a href="#" class="product-edit"><i class="fal fa-edit"></i></a>
                            <a href="#" class="delete-cart"><i class="fal fa-times"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-detail">
                        <div class="product-thumb"><img src="assets/images/products/product2.png" alt="product-thumb">
                        </div>
                        <div class="item-wrapper">
                            <span class="product-name">Narrow Trouser</span>
                            <div class="item-wrapper">
                                <span class="product-variation"><span class="color">Green /</span>
                                    <span class="size">XL</span></span>
                            </div>
                            <div class="item-wrapper">
                                <span class="product-qnty">2 ×</span>
                                <span class="product-price">$88.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="cart-edit">
                        <div class="quantity-edit">
                            <button class="button"><i class="fal fa-minus minus"></i></button>
                            <input type="text" class="input" value="2" />
                            <button class="button plus">+<i class="fal fa-plus plus"></i></button>
                        </div>
                        <div class="item-wrapper d-flex mr--5 align-items-center">
                            <a href="#" class="product-edit"><i class="fal fa-edit"></i></a>
                            <a href="#" class="delete-cart"><i class="fal fa-times"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product-item last-child">
                    <div class="product-detail">
                        <div class="product-thumb"><img src="assets/images/products/product6.png" alt="product-thumb">
                        </div>
                        <div class="item-wrapper">
                            <span class="product-name">Bellyless Hoodie</span>
                            <div class="item-wrapper">
                                <span class="product-variation"><span class="color">Green /</span>
                                    <span class="size">XL</span></span>
                            </div>
                            <div class="item-wrapper">
                                <span class="product-qnty">1 ×</span>
                                <span class="product-price">$289.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="cart-edit">
                        <div class="quantity-edit">
                            <button class="button"><i class="fal fa-minus minus"></i></button>
                            <input type="text" class="input" value="2" />
                            <button class="button plus">+<i class="fal fa-plus plus"></i></button>
                        </div>
                        <div class="item-wrapper d-flex mr--5 align-items-center">
                            <a href="#" class="product-edit"><i class="fal fa-edit"></i></a>
                            <a href="#" class="delete-cart"><i class="fal fa-times"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-bottom-area">
                <span class="spend-shipping"><i class="fal fa-truck"></i> SPENT <span class="amount">$199.00</span> MORE
                    FOR FREE SHIPPING</span>
                <span class="total-price">TOTAL: <span class="price">$556</span></span>
                <a href="checkout.html" class="checkout-btn cart-btn">PROCEED TO CHECKOUT</a>
                <a href="cart.html" class="view-btn cart-btn">VIEW CART</a>
            </div>
        </div>
        <!--================= Slide Bar Start Here =================-->
        <aside class="slide-bar">
            <div class="offset-sidebar">
                <button class="slide-bar-close ml--30"><i class="fal fa-times"></i></button>
                <div class="offset-widget offset-logo mb-30">
                    <a href="index.html">
                        <img src="assets/images/logo.png" alt="logo">
                    </a>
                </div>
            </div>
            <!-- side-mobile-menu start -->
            <nav class="side-mobile-menu side-mobile-menu1">
                <ul id="mobile-menu-active">
                    <li class="has-dropdown firstlvl">
                        <a class="mm-link" href="index.html">Home <i class="rt-angle-down"></i></a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home Style 1</a></li>
                            <li><a href="index-two.html">Home Style 2</a></li>
                            <li><a href="index-three.html">Home Style 3</a></li>
                            <li><a href="index-four.html">Home Style 4</a></li>
                            <li><a href="index-five.html">Home Style 5</a></li>
                            <li><a href="index-six.html">Home Style 6</a></li>
                            <li><a href="index-seven.html">Home Style 7</a></li>
                            <li><a href="index-eight.html">Home Style 8</a></li>
                        </ul>
                    </li>
                    <li><a class="mm-link" href="about.html">About</a></li>
                    <li class="has-dropdown firstlvl">
                        <a class="mm-link" href="index.html">Pages <i class="rt-angle-down"></i></a>
                        <ul class="sub-menu mega-dropdown-mobile">
                        <li class="mega-dropdown-li">
                            <ul class="mega-dropdown-ul mm-show">
                                <li class="dropdown-li"><a class="dropdown-link" href="team.html">Team Details</a></li>
                                <li class="dropdown-li"><a class="dropdown-link" href="team-details.html">Player Details</a></li>
                                <li class="dropdown-li"><a class="dropdown-link" href="history.html">History</a></li>
                                <li class="dropdown-li"><a class="dropdown-link" href="awards.html">Awards</a></li>
                                <li class="dropdown-li"><a class="dropdown-link" href="faq.html">FAQ</a></li>
                            </ul>
                        </li>
                            <li class="mega-dropdown-li">
                                <ul class="mega-dropdown-ul mm-show">
                                    <li class="dropdown-li"><a class="dropdown-link" href="gallery.html">Gallery</a>
                                    </li>
                                    <li class="dropdown-li"><a class="dropdown-link" href="event.html">Event</a>
                                    </li>
                                    <li class="dropdown-li"><a class="dropdown-link" href="event-details.html">Event
                                            Details</a>
                                    </li>
                                    <li class="dropdown-li"><a class="dropdown-link" href="error.html">Error</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mega-dropdown-li">
                                <ul class="mega-dropdown-ul mm-show">
                                    <li class="dropdown-li"><a class="dropdown-link" href="match-schedule.html">Match
                                            Schedule</a>
                                    </li>
                                    <li class="dropdown-li"><a class="dropdown-link" href="match-result.html">Match
                                            Result</a>
                                    </li>
                                    <li class="dropdown-li"><a class="dropdown-link" href="league-standings.html">Point Table</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-dropdown firstlvl">
                        <a class="mm-link" href="index.html">Shop <i class="rt-angle-down"></i></a>
                        <ul class="sub-menu">
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="product-details.html">Product Details</a></li>
                            <li><a href="cart.html">cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="account.html">My Account</a></li>
                            <li><a href="thank-you.html">Thank You</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown firstlvl">
                        <a class="mm-link" href="news-details.html">News <i class="rt-angle-down"></i></a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">News</a></li>
                            <li><a href="blog-details.html">News Details</a></li>
                        </ul>
                    </li>
                    <li><a class="mm-link" href="contact.html">Contact</a></li>
                </ul>
            </nav>
            <!-- side-mobile-menu end -->
            <div class="side-bar-social-links">
                <a href="#0" class="platform"><i class="fab fa-facebook-f"></i></a>
                <a href="#0" class="platform"><i class="fab fa-twitter"></i></a>
                <a href="#0" class="platform"><i class="fab fa-behance"></i></a>
                <a href="#0" class="platform"><i class="fab fa-youtube"></i></a>
            </div>
        </aside>
        <!--================= Slide Bar Start Here =================-->
        <!--================= Banner Section Start Here =================-->
        <div class="banner banner1 volleyball">
            <div class="swiper bannerSlide2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="banner-single banner-single-1 banner-bg">
                            <div class="container">
                                <div class="banner-content">
                                    <span class="pretitle">Witaj na stronie ligasiatkowki.pl</span>
                                <h1 class="banner-heading">LIGASIATKOWKI.PL</h1>
                                    <p class="desc">Białołęcka Liga Siatkówki to największe amatorskie rozgrywki siatkarskie w Polsce</p>
                                    <div class="shape-area"><img src="assets/images/banner/circle.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-single banner-single-1_2 banner-bg">
                            <div class="container">
                                <div class="banner-content">
                                <span class="pretitle">Witaj na stronie ligasiatkowki.pl</span>
                                <h1 class="banner-heading">LIGASIATKOWKI.PL</h1>
                                <p class="desc">Białołęcka Liga Siatkówki to największe amatorskie rozgrywki siatkarskie w Polsce</p>
                                    <div class="shape-area"><img src="assets/images/banner/circle.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-single banner-single-3 banner-bg">
                            <div class="container">
                                <div class="banner-content">
                                <span class="pretitle">Witaj na stronie ligasiatkowki.pl</span>
                                    <h1 class="banner-heading">LIGASIATKOWKI.PL</h1>
                                <p class="desc">Białołęcka Liga Siatkówki to największe amatorskie rozgrywki siatkarskie w Polsce</p>
                                    <div class="shape-area"><img src="assets/images/banner/circle.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-pagination-area">
                    <span>01</span>
                    <div class="swiper-pagination">
                    </div>
                    <span>03</span>
                </div>
            </div>
        </div>
        <!--================= Banner Section End Here =================-->
    </header>

<section id="header_section_wrapper" class="header_section_wrapper">
    <div class="container">
        <div class="header-section">
            <div class="row">
                <div class="col-md-4">
                    <div class="left_section">
                        <span class="date">
                            @GetDayName(DateTime.Now) .
                        </span>
                        <!-- Date -->
                        <span class="time">
                            @GetFormattedDate(DateTime.Now)
                        </span>
                        <!-- Top Social Section -->
                    </div>
                    <!-- Left Header Section -->
                </div>
                <div class="col-md-4">
                    <div class="logo">
                        <a href="/"><img src="assets/img/LigaSiatkowkiNew.png" alt="Tech NewsLogo"></a>
                    </div>
                    <!-- Logo Section -->
                </div>
                <div class="col-md-4">
                    <div class="right_section">
                        <AuthorizeView>
                            <NotAuthorized>
                                <ul class="nav navbar-nav">
                                    <li><a href="/login">Zaloguj się</a></li>
                                    <li><a href="/register">Zarejestruj się</a></li>
                                </ul>
                            </NotAuthorized>
                        </AuthorizeView>
                        <AuthorizeView>
                            <Authorized>
                                <ul class="nav navbar-nav">
                                    <li><a>Zalogowany </a></li>
                                    <li><button class="btn btn-link nav-link" @onclick="Logout">Wyloguj</button></li>
                                </ul>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                    <!-- Right Header Section -->
                </div>
            </div>
        </div>

        <div class="navigation-section">
            <nav class="navbar m-menu navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav main-nav">
                            <li>
                                <NavLink class="active" href="/">Strona Główna</NavLink>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #333; background: none; border: none; box-shadow: none;">Wyniki <span class="caret"></span></a>
                                <ul class="dropdown-menu" style="border: none; box-shadow: none; color: #333;">
                                    <li><NavLink href="/standings" style="color: inherit; font-weight: bold; background: none; border: none;">Tabele</NavLink></li>
                                    <li><NavLink href="/mvp" style="color: inherit; background: none; font-weight: bold; border: none;">MVP</NavLink></li>
                                    <li><NavLink href="/typedResults" style="color: inherit; background: none; font-weight: bold; border: none;">Typermania</NavLink></li>
                                </ul>
                            </li>
                            <li>
                                <NavLink class="active" href="/schedule">Terminarz</NavLink>
                            </li>
                            <li>
                                <NavLink class="active" href="/teams-list">Zespoły</NavLink>
                            </li>
                            <li>
                                <NavLink class="active" href="/policy">Liga</NavLink>
                            </li>
                            <li>
                                <NavLink class="active" href="/contact">Kontakt</NavLink>
                            </li>
                            <ul class="nav navbar-nav" style="width: 100%;margin-left: auto;margin-right: auto;display: flex;justify-content: center;">
                            <AuthorizeView Roles="Player">
                                <Authorized>
                                        @if (!IsAdmin)
                                        {
                                            <li><NavLink href=@{"/user-profile/" + @playerSummary.Id}>Profil</NavLink></li>
                                            <li><NavLink href=@{
                                                "/edit-profile/" + @playerSummary.Id
                                                            }>Edytuj profil</NavLink></li>

                                            @if (HasTeam)
                                            {
                                                <li><NavLink href="/manageTeam">Zarządzaj drużyną</NavLink></li>
                                            }
                                            else
                                            {
                                                <li><NavLink href="/createteam">Stwórz drużynę</NavLink></li>
                                            }
                                            <li><NavLink href="/change-password">Zmiana hasła</NavLink></li>
                                        }else{
                                                               <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #333; background: none; border: none; box-shadow: none;">Zarządzanie Użytkownikiem <span class="caret"></span></a>
                                        <ul class="dropdown-menu" style="border: none; box-shadow: none; color: #333;">
                                        <li><NavLink href="/createteam" style="color: inherit; font-weight: bold; background: none; border: none;">Stwórz drużynę</NavLink></li>
                                        <li><NavLink href="/change-password" style="color: inherit; font-weight: bold; background: none; border: none;">Zmiana hasła</NavLink></li>
                                        <li><NavLink href=@{
                                        "/user-profile/" + playerSummary.Id
                                        } style="color: inherit; font-weight: bold; background: none; border: none;">Profil Użytkownika</NavLink></li>
                                        </ul>
                                        </li>
                                        }
                                </Authorized>
                            </AuthorizeView>
                            <AuthorizeView Roles="Admin">
                                <Authorized>
@*                                     <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #333; background: none; border: none; box-shadow: none;">Zarządzanie Użytkownikiem <span class="caret"></span></a>
                                        <ul class="dropdown-menu" style="border: none; box-shadow: none; color: #333;">
                                            <li><NavLink href="/createteam" style="color: inherit; font-weight: bold; background: none; border: none;">Stwórz drużynę</NavLink></li>
                                            <li><NavLink href="/change-password" style="color: inherit; font-weight: bold; background: none; border: none;">Zmiana hasła</NavLink></li>
                                            <li><NavLink href=@{
                                                    "/user-profile/" + playerSummary.Id
} style="color: inherit; font-weight: bold; background: none; border: none;">Profil Użytkownika</NavLink></li>
                                        </ul>
                                    </li> *@
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #333; background: none; border: none; box-shadow: none;">Zarządzanie Meczem <span class="caret"></span></a>
                                        <ul class="dropdown-menu" style="border: none; box-shadow: none; color: #333;">
                                            <li><NavLink href="/referees" style="color: inherit; font-weight: bold; background: none; border: none;">Zarządzaj Sędziami</NavLink></li>
                                            <li><NavLink href="/handleseason" style="color: inherit; font-weight: bold; background: none; border: none;">Zarządzaj Sezonami</NavLink></li>
                                            <li><NavLink href="/createMatch" style="color: inherit; font-weight: bold; background: none; border: none;">Dodaj mecz</NavLink></li>
                                            <li><NavLink href="/manageTeams" style="color: inherit; font-weight: bold; background: none; border: none;">Zarządzaj drużynami</NavLink></li>
                                            <li><NavLink href="/teams-images" style="color: inherit; font-weight: bold; background: none; border: none;">Zarządzaj zdjęciami drużyn</NavLink></li>
                                            </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #333; background: none; border: none; box-shadow: none;">Zarządzanie Portalem <span class="caret"></span></a>
                                        <ul class="dropdown-menu" style="border: none; box-shadow: none; color: #333;">
                                            <li><NavLink href="/addArticle" style="color: inherit; font-weight: bold; background: none; border: none;">Dodaj Artykuł</NavLink></li>
                                        </ul>
                                    </li>
                                </Authorized>
                            </AuthorizeView>
                            </ul>
                        </ul>
                    </div>
                </div>
                <!-- .container -->
            </nav>
            <!-- .nav -->
        </div>
        <!-- .navigation-section -->
    </div>
    <!-- .container -->
</section>

<style>
    .nav-item.nav-user {
        color: #7d7d7d;
        text-decoration: none;
        font-size: 9px;
    }
</style>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private bool HasTeam { get; set; } = false;
    PlayerSummaryDto playerSummary = new PlayerSummaryDto();
    private bool IsPlayer { get; set; }
    private bool IsAdmin { get; set; }


    [Inject]
    public NavigationManager NavigationManager { get; set; } = null!;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        Console.WriteLine(user);

        if (user.Identity.IsAuthenticated)
        {

            IsPlayer = user.IsInRole("Player");
            IsAdmin = user.IsInRole("Admin");

            Console.WriteLine($"User: {user.Identity.Name}");
            var roles = user.FindAll("http://schemas.microsoft.com/ws/2008/06/identity/claims/role").Select(c => c.Value);
            foreach (var role in roles)
            {
                Console.WriteLine($"Role: {role}");
            }
            playerSummary = await userService.GetUserSummary();
            HasTeam = await userService.IsTeamCaptain();
        }
    }

    public async void Logout()
    {
        await localStorage.RemoveItemAsync("token");
        ((CustomAuthenticationStateProvider)authStateProvider).NotifyUserLogout();
        NavigationManager.NavigateTo("/");
    }

    private string GetDayName(DateTime date)
    {
        return date.ToString("dddd", new CultureInfo("pl-PL"));
    }

    private string GetFormattedDate(DateTime date)
    {
        return date.ToString("dd MMMM yyyy", new CultureInfo("pl-PL"));
    }
}
