@page "/sample-component"

<h3>Wybierz opcję</h3>

<select @onchange="OnChange">
    <option value="0">Wybierz opcję...</option>
    <option value="1">Opcja 1</option>
    <option value="2">Opcja 2</option>
    <option value="3">Opcja 3</option>
</select>

@if (selectedValue != "0")
{
    <p>Wybrano: @selectedText</p>
}

@code {
    private string selectedValue = "0";
    private string selectedText = "nic";

    private void OnChange(ChangeEventArgs e)
    {
        Console.WriteLine("Onchage");
        selectedValue = e.Value.ToString();
        switch (selectedValue)
        {
            case "1":
                selectedText = "Opcja 1";
                break;
            case "2":
                selectedText = "Opcja 2";
                break;
            case "3":
                selectedText = "Opcja 3";
                break;
            default:
                selectedText = "nic";
                break;
        }
    }
}
