<div class="account-main address filterd-items">
    <div class="row">
        <div class="col-xl-5 col-md-5">
            <div class="billing-address">
                <h2 class="mb--30">Billing Address</h2>
                <address>
                    3522 Interstate<br>
                    75 Business Spur,<br>
                    Sault Ste. <br>Marie, MI 49783
                </address>
                <p class="mb--10">New York</p>
                <a href="#" class="btn-small">Edit</a>
            </div>
        </div>
        <div class="col-xl-5 col-md-5">
            <div class="shipping-address">
                <h4 class="mb--30">Shipping Address</h4>
                <address>
                    4299 Express Lane<br>
                    Sarasota, <br>FL 34249 USA <br>Phone: 1.941.227.4444
                </address>
                <p class="mb--10">Sarasota</p>
                <a href="#" class="btn-small">Edit</a>
            </div>
        </div>
    </div>
</div>
