@page "/article/{articleId:int}"
@using VolleyLeague.Client.Blazor.Services
@using VolleyLeague.Shared.Dtos.Discussion
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IArticleService _articleService

<head>
    <link rel="stylesheet" href="/assets/css/custom-article-one.css" />
</head>

@code {
    [Parameter]
    public int ArticleId { get; set; }

    private ArticleDto _article;
    private bool pageReady = false;
    private string loadingError = "";

    protected override async Task OnInitializedAsync()
    {
        await LoadArticle();
    }

    private async Task LoadArticle()
    {
        try
        {
            _article = await _articleService.GetArticleById(ArticleId);
            pageReady = true;
        }
        catch (Exception ex)
        {
            loadingError = $"Błąd ładowania artykułu: {ex.Message}";
        }
    }

    private void NavigateBack()
    {
        Navigation.NavigateTo("/");
    }
}

<section class="category_section additional-margin-medium article-section">
    <div class="container article-container">
        <div class="row article-row">

            @if (pageReady)
            {
                @if (_article != null)
                {
                    <div class="article-details">
                        <h1 class="article-title">@_article.Title</h1>
                        <div class="article-image-container">
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(_article.Image)" alt="Article Image" class="article-image" />
                        </div>
                        <p class="article-content">@((MarkupString)_article.Content)</p>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        Error loading article.
                    </div>
                }
            }
            else
            {
                @if (loadingError != "")
                {
                    <div class="alert alert-danger" role="alert">
                        @loadingError
                    </div>
                }
                else
                {
                    <div class="d-flex justify-content-center">
                        <div id="spinner"></div>
                    </div>
                }
            }
        </div>
    </div>
</section>
