@page "/article/{articleId:int}"
@using VolleyLeague.Client.Blazor.Services
@using VolleyLeague.Shared.Dtos.Discussion
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IArticleService _articleService

@code {
    [Parameter]
    public int ArticleId { get; set; }

    private ArticleDto _article;
    private bool pageReady = false;
    private string loadingError = "";

    protected override async Task OnInitializedAsync()
    {
        await LoadArticle();
    }

    private async Task LoadArticle()
    {
        try
        {
            _article = await _articleService.GetArticleById(ArticleId);
            pageReady = true;
        }
        catch (Exception ex)
        {
            loadingError = $"Error loading article: {ex.Message}";
        }
    }

    private void NavigateBack()
    {
        Navigation.NavigateTo("/");
    }
}

<section class="category_section" style="margin-top: 60px;">
    <div class="container" style="display:flex; justify-content: center;">
        <div class="row" style="width: 75%;">

            @if (pageReady)
            {
                @if (_article != null)
                {
                    <div class="article-details">
                        <h1 style="text-align: center; margin-bottom: 20px;">@_article.Title</h1>
                        <div style="text-align: center; margin-bottom: 20px;">
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(_article.Image)" alt="Article Image" style="max-width: 100%; height: auto;" />
                        </div>
                        <p style="text-align: center; font-weight: bold; color: black; line-height: 1.6;">@((MarkupString)_article.Content)</p>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        Error loading article.
                    </div>
                }
            }
            else
            {
                @if (loadingError != "")
                {
                    <div class="alert alert-danger" role="alert">
                        @loadingError
                    </div>
                }
                else
                {
                    <div class="d-flex justify-content-center">
                        <div id="spinner"></div>
                    </div>
                }
            }
        </div>
    </div>
</section>
