@page "/contact"
@using VolleyLeague.Client.Blazor.Services
@inject HttpClient Http
@inject ITeamService TeamService

<section class="category_section">
    <div class="container">
        <div class="row" id="contact_row" style="align-items: center">
            <div class="col-md-7 contact-details" >
                <h3>Kontakt</h3>
                <p><strong>Liga:</strong> <a href="mailto:ligasiatkowki.bls@gmail.com">ligasiatkowki.bls@gmail.com</a></p>
                <p><strong>Koordynatorzy rozgrywek:</strong> Artur Rojek, <a href="tel:+48691512626">tel. +48 691 512 626</a></p>
                <p><strong>Strona internetowa:</strong> Tomasz Leś</p>
            </div>
            <div class="col-md-7 payment-details" style="margin-top: 20px;">
                <h3>Konto do wpłat</h3>
                <p><strong>Adres:</strong> European Mobility Center al. Wojska Polskiego 50/54/53, 01-554 Warszawa</p>
                <p><strong>Numer:</strong> 19194010763082716100000000</p>
            </div>
        </div>
    </div>
</section>

<style>
    #contact_row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }
    .contact-details h3,
    .payment-details h3 {
        color: #333;
        margin-bottom: 15px;
    }

    .contact-details,
    .payment-details {
        background-color: #f8f8f8;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,.1);
    }

        .contact-details a,
        .payment-details a {
            text-decoration: none;
            color: #0066cc;
        }

            .contact-details a:hover,
            .payment-details a:hover {
                text-decoration: underline;
            }

    .row {
        margin-bottom: 20px;
    }
</style>
