@page "/contact"
@using VolleyLeague.Client.Blazor.Services
@inject HttpClient Http
@inject ITeamService TeamService

<div class="contact-area">
    <div class="container">
        <div class="address-box">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6">
                    <div class="address">
                        <div class="icon"><i class="far fa-envelope-open"></i></div>
                        <div class="content">
                            <h3 class="heading">
                                LIGA
                            </h3>
                            <p class="desc"><a href="mailto:ligasiatkowki.bls@gmail.com">ligasiatkowki.bls@gmail.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="address">
                        <div class="icon"><i class="far fa-phone-volume"></i></div>
                        <div class="content">
                            <h3 class="heading">
                                KOORDYNATOR ROZGRYWEK
                            </h3>
                            <p class="desc">Artur Rojek, <a href="tel:+48691512626">tel. +48 691 512 626</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="address">
                        <div class="icon"><i class="far fa-map-marker-alt"></i></div>
                        <div class="content">
                            <h3 class="heading">
                                ADRES
                            </h3>
                            <p class="desc">European Mobility Center al. Wojska Polskiego 50/54/53, 01-554 Warszawa</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>