@page "/counter"
@inject HttpClient Http

<PageTitle>Other Data</PageTitle>

<h1 style="border-bottom: 1px solid #ccc; padding-bottom: 10px;">To do list</h1>

<p>This component demonstrates the first try component.</p>
