@page "/login"

@using Microsoft.AspNetCore.Components.Authorization
@using VolleyLeague.Client.Blazor.Authentication
@using VolleyLeague.Client.Blazor.Services
@using VolleyLeague.Client.Blazor.Shared.Dtos
@using static VolleyLeague.Client.Blazor.Services.AccountService
@using System.Net.Http.Headers
@inject AuthenticationStateProvider authStateProvider
@inject IUserAccount AccountService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavManager
@inject IJSRuntime js
@inject HttpClient Http

<div class="login-area">
    <div class="container">
        <div class="row display-flex-column-center">
            <div class="col-lg-6 col-md-12 mr-10">
                <div class="login-form">
                    <div class="section-title">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <EditForm Model="User" OnValidSubmit="HandleLogin">
                                <DataAnnotationsValidator />
                                <div class="form">
                                    <label for="username" class="form-label">Adres e-mail</label>
                                    <InputText id="username" class="form-control" @bind-Value="User.Email" />
                                    <ValidationMessage For="@(() => User.Email)" />
                                </div>
                                <div class="form">
                                    <label for="password" class="form-label">Hasło</label>
                                    <InputText id="password" type="password" class="form-control" @bind-Value="User.Password" />
                                    <ValidationMessage For="@(() => User.Password)" />
                                </div>
                                <div class="form">
                                    <button type="submit" class="btn">
                                        Zaloguj <i class="fal fa-long-arrow-right"></i>
                                    </button>
                                </div>
                                <a class="forgot-password" href="#" @onclick="NavigateToResetPassword">Nie pamiętasz hasła?</a>
                            </EditForm>
                            @if (!string.IsNullOrEmpty(errorMessage))
                            {
                                <div class="text-danger mt-2" style="margin-top: 30px; margin-bottom: 20px; font-size: 120%;">@errorMessage</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public LoginDto User { get; set; } = new();

    private string errorMessage = string.Empty;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = null!;

    async Task HandleLogin()
    {
        var result = await AccountService.LoginAccount(User);

        if (result.Success)
        {
            await sessionStorage.SetItemAsync("authToken", result.Token);
            ((CustomAuthenticationStateProvider)authStateProvider).NotifyUserAuthentication(result.Token);
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", result.Token);
            var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
            await customAuthStateProvider.UpdateAuthenticationState(result.Token);
            NavigationManager.NavigateTo("/", forceLoad: true);
        }
        else
        {
            errorMessage = result.ErrorMessage;
        }
    }

    void NavigateToResetPassword()
    {
        NavigationManager.NavigateTo("/request-password-reset");
    }
}
