@page "/request-password-reset"

@using VolleyLeague.Client.Blazor.Services
@using VolleyLeague.Shared.Dtos.Teams
@inject IUserService UserService

<div class="login-area">
    <div class="container">
        <div class="row display-flex-column-center">
            <div class="col-lg-6 col-md-12 mr-10">
                <div class="login-form">
                    <div class="section-title text-center">
                        <h1>Resetowanie hasła</h1>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <EditForm Model="resetRequest" OnValidSubmit="HandlePasswordResetRequest">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <div class="form">
                                    <label for="email" class="form-label">Adres e-mail</label>
                                    <InputText id="email" class="form-control" @bind-Value="resetRequest.Email" />
                                    <ValidationMessage For="@(() => resetRequest.Email)" />
                                </div>
                                <div class="form">
                                    <button type="submit" class="btn" style="padding: 10px">
                                        Wyślij żądanie resetu hasła <i class="fal fa-long-arrow-right"></i>
                                    </button>
                                </div>
                            </EditForm>
                            @if (!string.IsNullOrEmpty(resetMessage))
                            {
                                <div class="alert alert-info mt-3 text-center">@resetMessage</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .login-area .btn {
        background-color: #7d7d7d;
        color: white;
    }

    .alert-info {
        background-color: #d9edf7;
        color: #31708f;
    }

    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .alert-info {
        border-color: #bce8f1;
    }

    .display-flex-column-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mr-10 {
        margin-right: 10px;
    }

    .btn{
        padding: 10px;
    }


</style>

@code {
    public PasswordResetRequestDto resetRequest { get; set; } = new();
    private string resetMessage = string.Empty;

    async Task HandlePasswordResetRequest()
    {
        var result = await UserService.RequestPasswordReset(resetRequest);

        if (result)
        {
            resetMessage = "Email z linkiem do resetu hasła został wysłany.";
        }
        else
        {
            resetMessage = "Nieprawidłowy adres email.";
        }
    }
}
