@page "/request-password-reset"

@using VolleyLeague.Client.Blazor.Services
@using VolleyLeague.Shared.Dtos.Teams
@inject IUserService UserService


<section class="category_section">
    <div class="container">
        <div class="row" style="display:flex; justify-content: center; margin-top:30px">
        <div class="col-md-6 mt-3">
            <div class="entity_title text-center">
                <h1><a>Resetowanie hasła</a></h1>
            </div>
            <div class="entity_content">
                <EditForm Model="resetRequest" OnValidSubmit="HandlePasswordResetRequest">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="card">
                        <div class="card-body request-password-reset">
                            <div class="form-group mb-3 md-4">
                                <input @bind="resetRequest.Email" class="form-control" type="email" placeholder="Email Address"></input>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn" style="background-color: #7d7d7d; color: white;" type="submit">
                                Wyślij żądanie resetu hasła
                            </button>
                        </div>
                    </div>
                </EditForm>
                @if (!string.IsNullOrEmpty(resetMessage))
                {
                    <div class="alert alert-info mt-3 text-center">@resetMessage</div>
                }
            </div>
        </div>
    </div>
</div>
</section>

@code {
    public PasswordResetRequestDto resetRequest { get; set; } = new();
    private string resetMessage = string.Empty;

    async Task HandlePasswordResetRequest()
    {
        var result = await UserService.RequestPasswordReset(resetRequest);

        if (result)
        {
            resetMessage = "Email z linkiem do resetu hasła został wysłany.";
        }
        else
        {
            resetMessage = "Nieprawidłowy adres email.";
        }
    }
}
